{% extends "layout.html" %}

{% block  title %}
New event
{% endblock %}
{% block body %}

<script>
    window.items = {{items | tojson}};
    const prevCashSales = {{cashSales | tojson}};
    const prevTapSales = {{tapSales | tojson}};
</script>
<link rel="stylesheet" href="static/css/event.css">
<h3 id="newSale">New Sale</h3>
<h3 id ="errorMessage"></h3>
<div id="sales" class="sales-container" style="max-width: none !important; width: 100% !important;">        
    <div id="sale_template" class="d-none sale" >
        <form class="row cell align-items-center" style="width: 100%;">
            <div id="#itemList">
                
            </div>
            <span class="col-1" id="amtPaid">revenue: $0</span>
            <input class="col-2" type ="number" id="customAmtPaid" placeholder="custom amount paid" style="background-color:rgba(250, 235, 215, 0.838);">
            <label  for="date" class="col-1">date: </label>
            <span class="col-2" id="date" style="width: 100px; height: 50px; font-size: 10px;">Sale time</span>
            <input type="hidden" id="payment_method" value="cash">
        </form>
    </div>
    <div id="cash-container" class="sales-column">
        <h1>Cash</h1>
        <div id="itemOptions">
            {% for item in items %}
                <button id="{{item['name']}}Item" class="item-option cash-option">{{item['name']}}</button>
            {% endfor %}
            <button id="cash-new-sale" style="background-color: orange;">New Sale</button>
        </div>
        <div id="cash-sales">
            
        </div>
        
    </div>
    <div id="tap-container" class="sales-column">
        <h1>Tap</h1>
        <div id="itemOptions">
            {% for item in items %}
                <button id="{{item['name']}}Item" class="item-option tap-option">{{item['name']}}</button>
            {% endfor %}
            <button id="tap-new-sale" style="background-color: orange;">New Sale</button>
        </div>
        <div id="tap-sales">
        </div>
    </div>
    
</div>

<p></p>
<button id="endEvent">End Event</button>

<script src="static/js/event.js"></script>
{% endblock %}
