{% extends "layout.html" %}

{% block title %}
History
{% endblock %}
{% block body %}
<div>
    {% for event in events %}
        <h2>Event: {{event['start_date']}} - {{event['end_date'] or ""}}</h2>
        {% for sale in event['sales'] %}
            <div class="d-flex gap-2">
                <text>Sold: {{sale.item}}</text>
                <text>Quantity: {{sale.quantity}}</text>
                <text>Amount paid: {{sale.revenue}}</text>
                <text>Date: {{sale.sale_time}}</text>
                <text>Payment Method: {{sale.payment_method}}</text>
            </div>
            <hr>
        {% endfor %}

    {% endfor %}
</div>
{% endblock %}
