{% extends "layout.html" %}

{% block title %}
Inventory
{% endblock %}
{% block body %}
<!--event.css has shared classes-->
<link rel="stylesheet" href="static/css/event.css">
<div>
    <h3 id="errorMessage"></h3>
    <h3>Menus</h3>
    <div id="menus">
    {% for menu in menus %}
        <button id={{menu.id}}>{{menu.name}}</button>
    {% endfor %}
    </div>
    <h3>Add a menu</h3>
    <input type="text" id="newMenu" placeholder="New menu name">
    <button id="newMenuButton">Add New Menu</button>
</div>

<script src="static/js/inventory.js"></script>

{% endblock %}
