{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}
{% block body %}
<h3>{{error}}</h3>
<form action="/register" method="post">
    <input type="text" autocomplete="off"name="username" placeholder="Create a username" autofocus>
    <input type="text" autocomplete="off"name="password" placeholder="Create a password" autofocus>
    <input type="text" autocomplete="off" name="confirmPassword" placeholder="Repeat the password" autofocus>

    <input type="submit" value="Register">
</form>

{% endblock %}
